:root {
    /* Background */
    --bg-dark: #1a1a1a;
    --bg-linear: linear-gradient(227.07deg, #1a1a1a 0.43%, #3a3732 99.56%);
    /* Text */
    /* Icons */
    --icon-sol: rgb(193, 180, 62);
    /* Others */
}

input[type="checkbox"] {
    display: none;
}

.dark {
    background: var(--bg-dark);
    color: #fff;
}

.dark .section-one,
.dark .list-cards .card {
    background-color: var(--bg-dark);
    background: var(--bg-linear);
}

.dark svg {
    background: transparent;
    border: none;
}

.dark .text-muted,
.dark .list-cards .card-header {
    color: var(--text-primary) !important;
}

.dark #form .card {
    background: var(--bg-linear) !important;
}

.dark #form input,
.dark #form textarea {
    background: transparent;
    border-color: var(--text-primary);
    color: #fff;
}

.dark .input-group span {
    background-color: transparent;
    color: #fff;
    border-color: var(--text-primary);
}


/* back to top */

.dark #backToTop {
    background: var(--bg-linear);
    color: #14D5FF;
}

.dark #btnWhatsapp {
    background: var(--bg-linear);
    color: #14D5FF;
}


/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/


/**
*  Menu Mobile
*/

.dark .container-nav .navigation {
    background: var(--bg-dark);
}

.dark .container-nav .navigation ul li a {
    color: #f1f2f5a6;
}

.dark .container-nav .navigation ul li a .icon-nav .bi {
    color: var(--text-primary);
}

.dark #toggle-men {
    background: var(--bg-dark);
    border: 5px solid #14D5FF;
}

.dark #toggle-men::before {
    color: #14D5FF;
}


/**
* Btn dark mode
*/

.dark .container-nav .menu-config {
    background: #2a2727;
}

.dark .container-nav .menu-config ul li .text-menu {
    color: #f1f2f5a6;
}

.dark #icon-config {
    background: var(--bg-dark);
    border: 5px solid #14D5FF;
}

.dark #icon-config::before {
    color: #14D5FF;
}

.dark .btn-config .modo-escuro {
    display: none;
}

.dark .btn-config .modo-claro {
    display: block;
}

.dark .btn-config .bi-sun-fill {
    color: var(--text-primary);
}


/*--------------------------------------------------------------
# Section Banner
--------------------------------------------------------------*/

.dark .dark-imgs {
    display: block;
}

.dark .light-imgs {
    display: none;
}


/*--------------------------------------------------------------
# Section Serviços
--------------------------------------------------------------*/

.dark .list-cards .icon-card i {
    color: #fff;
}


/*--------------------------------------------------------------
# Section Serviços
--------------------------------------------------------------*/


/**
* Primeiro footer
*/

.dark .footer-section .footer-link {
    color: #fff;
    opacity: 0.8;
}

.dark .footer-section ul .li-icons .footer-icon .bi {
    color: #fff;
    border: 1px solid #fff;
    opacity: 0.8;
}

.dark .footer-section ul .li-icons .footer-icon .bi:hover {
    background: var(--text-primary);
    border: 1px solid var(--text-primary);
}


/**
* Segundo footer
*/

.dark .second-footer .footer-text {
    background: #fff;
    opacity: 0.8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}