:root {
    --main-bg-dark: #1a1a1a;
    --main-bg-linear-dark: linear-gradient(227.07deg, #1a1a1a 0.43%, #3a3732 99.56%);
    --color-icone-sol: rgb(193, 180, 62);
}

input[type="checkbox"] {
    display: none;
}

.dark {
    background: var(--main-bg-dark);
    color: #fff;
}

.dark .section-one,
.dark .list-cards .card {
    background-color: var(--main-bg-dark);
    background: var(--main-bg-linear-dark);
}

.dark svg {
    background: transparent;
    border: none;
}

.dark .text-muted,
.dark .list-cards .card-header {
    color: var(--main-text-color) !important;
}

.dark #form .card {
    background: var(--main-bg-linear-dark) !important;
}

.dark #form input,
.dark #form textarea {
    background: transparent;
    border-color: var(--main-text-color);
    color: #fff;
}

.dark .input-group span {
    background-color: transparent;
    color: #fff;
    border-color: var(--main-text-color);
}


/* back to top */

.dark #backToTop {
    background: var(--main-bg-linear-dark);
    color: #14D5FF;
}

.dark #btnWhatsapp {
    background: var(--main-bg-linear-dark);
    color: #14D5FF;
}


/* Menu toggle mobile */

.dark .container-nav .navigation {
    background: var(--main-bg-dark);
}

.dark .container-nav .navigation ul li a {
    color: #f1f2f5a6;
}

.dark .container-nav .navigation ul li a .icon-nav .bi {
    color: var(--main-text-color);
}

.dark #toggle-men {
    background: var(--main-bg-dark);
    border: 5px solid #14D5FF;
}

.dark #toggle-men::before {
    color: #14D5FF;
}


/* Button config  */

.dark .container-nav .menu-config {
    background: #2a2727;
}

.dark .container-nav .menu-config ul li .text-menu {
    color: #f1f2f5a6;
}

.dark #icon-config {
    background: var(--main-bg-dark);
    border: 5px solid #14D5FF;
}

.dark #icon-config::before {
    color: #14D5FF;
}

.dark .btn-config .modo-escuro {
    display: none;
}

.dark .btn-config .modo-claro {
    display: block;
}

.dark .btn-config .bi-sun-fill {
    color: var(--main-text-color);
}


/* Banner Sliders */

.dark .dark-imgs {
    display: block;
}

.dark .light-imgs {
    display: none;
}