:root {
    /* Background */
    --bg-dark: #1a1a1a;
    --bg-linear: linear-gradient(227.07deg, #1a1a1a 0.43%, #3a3732 99.56%);
    /* Text */
    /* Icons */
    --icon-sol: rgb(193, 180, 62);
    /* Others */
}

input[type="checkbox"] {
    display: none;
}

.dark {
    background: var(--bg-dark);
    color: #fff;
}

.dark svg {
    background: transparent;
    border: none;
}

.dark .text-muted,
.dark .list-cards .card-header {
    color: var(--text-primary) !important;
}


/* back to top */

.dark #backToTop {
    background: var(--bg-linear);
    color: #14D5FF;
}

.dark #btnWhatsapp {
    background: var(--bg-linear);
    color: #14D5FF;
}


/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/


/**
*  Menu Mobile
*/

.dark .container-nav .navigation {
    background: var(--bg-dark);
}

.dark .container-nav .navigation ul li a {
    color: #f1f2f5a6;
}

.dark .container-nav .navigation ul li a .icon-nav .bi {
    color: var(--text-primary);
}

.dark #toggle-men {
    background: var(--bg-dark);
    border: 5px solid #515253;
}

.dark #toggle-men::before {
    color: #14d4ff85;
}


/**
* Btn dark mode
*/


/* 
.dark .container-nav .menu-config {
    background: #2a2727;
}

.dark .container-nav .menu-config ul li .text-menu {
    color: #f1f2f5a6;
}

.dark #icon-config {
    background: var(--bg-dark);
    border: 5px solid #515253;
}

.dark #icon-config::before {
    color: #14d4ff85;
}

.dark .btn-config .modo-escuro {
    display: none;
}

.dark .btn-config .modo-claro {
    display: block;
}

.dark .btn-config .bi-sun-fill {
    color: var(--text-primary);
} */

.dark .bi-lightbulb-fill {
    display: block;
}

.dark .bi-lightbulb {
    display: none;
}


/*--------------------------------------------------------------
# Section Banner
--------------------------------------------------------------*/

.dark .dark-imgs {
    display: block;
}

.dark .light-imgs {
    display: none;
}


/*--------------------------------------------------------------
# Section Serviços
--------------------------------------------------------------*/

.dark .section-one,
.dark .list-cards .card {
    background-color: var(--bg-dark);
    background: var(--bg-linear);
}

.dark .list-cards .icon-card i {
    color: #cde1f8;
}

.dark .ico-circle {
    color: #cde1f8;
}

.dark .counter-num .counter {
    color: #cde1f8;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
}

.dark .counter-num span {
    color: #cde1f8;
}


/*--------------------------------------------------------------
# Banner de descontos
--------------------------------------------------------------*/


/**
* FIRST COL
*/

.dark .section-banner .first-col .btn-primary {
    background: var(--text-primary);
}


/**
* SECOND COL
*/

.dark .section-banner .second-col h6 span,
.dark .section-banner .second-col .decrecent-time .decrecent-item h3,
.dark .section-banner .second-col .decrecent-time b,
.dark .section-banner .second-col .icon-indicacao ul i {
    color: var(--text-primary);
}


/*--------------------------------------------------------------
# Section Projetos
--------------------------------------------------------------*/

.dark .button i:hover {
    padding: 7px;
    border: 4px solid #f1f2f5;
}

.dark .button i {
    color: #f1f2f5a6;
    background: var(--bg-dark);
    border: 2px solid #f1f2f5a6;
}

.dark #projetos .avatar-projetos .avatar-nome {
    color: #cde1f8;
}

.dark #projetos .avatar-projetos .avatar-icon i {
    color: #cde1f8;
    background: var(--bg-linear);
}


/*--------------------------------------------------------------
# Section Portfolio
--------------------------------------------------------------*/

.dark #portfolio .row-port {
    background-color: #cde1f811;
}

.dark #portfolio #portfolio-btn li {
    background: rgba(210, 211, 211, 0.1);
    color: #cde1f8;
}

.dark #portfolio #portfolio-btn li:hover,
.dark #portfolio #portfolio-btn li.filter-active {
    background: #7a7a7ecd;
}

.dark #portfolio .portfolio-item .portfolio-content .linguagem span {
    color: #cde1f8;
    background: rgba(210, 211, 211, 0.1);
}


/*--------------------------------------------------------------
# Section Footer
--------------------------------------------------------------*/


/**
* Primeiro footer
*/

.dark #footer .footer-link {
    color: #cde1f8;
    opacity: 0.8;
}

.dark #footer ul .li-icons .footer-icon .bi {
    color: #cde1f8;
    border: 1px solid #cde1f8;
    opacity: 0.8;
}

.dark #footer ul .li-icons .footer-icon .bi:hover {
    background: var(--text-primary);
    border: 1px solid var(--text-primary);
}


/**
* Segundo footer
*/

.dark .second-footer .footer-text {
    background: #cde1f8;
    opacity: 0.8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.dark #footer ul .li-logo .logo-footer-dark {
    width: 185px;
    height: 70px;
}

.dark .logo-footer-light {
    display: none;
}

.dark .logo-footer-dark {
    display: block;
}