/* Width 0px - 992px */

@media only screen and (max-width: 992px) {
    .container-nav .navigation {
        display: block;
    }
    #toggle-men {
        display: block;
    }
}


/* Max Width 360px */

@media only screen and (max-width: 576px) {
    /* Sections */
    #home {
        height: 80vh;
    }
    #home .text-title {
        font-size: 18px;
    }
    #home .text-text {
        font-size: 14px;
    }
    .logo {
        width: 150px;
        height: 70px;
    }
    #banner .owl-carousel {
        margin-top: 10px;
    }
    #banner .owl-carousel .owl-item img {
        height: 20px !important;
        width: 60px !important;
    }
    #empresa .nav-pills button {
        font-size: 12px !important;
    }
    #empresa .tab-pane span,
    #empresa .tab-pane ul {
        font-size: 14px;
    }
    #empresa .avatar-preview {
        margin-top: 20px;
    }
    #empresa .avatar-preview .avatar-nome {
        font-size: 12px;
    }
    #empresa .avatar-preview .avatar-func {
        font-size: 12px;
    }
    .bg-image-desconto {
        height: 130px;
    }
    #projetos .text-section {
        margin-bottom: 50px !important;
    }
    #projetos .box {
        margin: 0 -3rem;
        width: 10rem !important;
        height: 14rem !important;
    }
    #projetos .box:hover {
        width: 10.75rem !important;
    }

#projetos .avatar-projetos .avatar-title {
    font-size: 15px;
}

#projetos .avatar-projetos .avatar-nome {
    font-size: 11px;
}

#projetos .avatar-projetos .avatar-icon i {
    font-size: 36px;
    background: #d9d9d9;
    border-radius: 50%;

    padding-top: 35px;
    padding-bottom: 35px;
}

    #portfolio #portfolio-btn li {
        font-size: 10px !important;
    }
    #portfolio .portfolio-item .portfolio-content h3 {
        text-align: center;
    }
    #portfolio .portfolio-item .portfolio-content .linguagem {
        text-align: center;
    }
    .title-section {
        font-size: 20px !important;
    }
    .text-section {
        font-size: 16px !important;
    }
}


/* Width 360px - 480px */

@media (min-width: 576px) and (max-width: 768px) {
    /* Sections */
    #home {
        height: 80vh;
    }
    #home .btn-primary {
        font-size: 14px;
    }
    .logo {
        width: 140px;
        height: 65px;
    }
    #banner .owl-carousel {
        margin-top: 10px;
    }
    #banner .owl-carousel .owl-item img {
        height: 25px !important;
        width: 85px !important;
    }
    #empresa {
        height: 135vh;
    }
    #empresa .nav-pills button {
        font-size: 13px !important;
    }
    #empresa .avatar-preview {
        margin-top: 20px;
    }
    .bg-image-desconto {
        height: 175px;
    }
    #projetos .text-section {
        margin-bottom: 50px !important;
    }
    #projetos .box {
        margin: 0 -3rem;
        width: 12rem !important;
        height: 18rem !important;
    }
    #projetos .box:hover {
        width: 12.25rem !important;
        height: 19rem !important;
    }
    
#projetos .avatar-projetos .avatar-title {
    font-size: 15px;
}

#projetos .avatar-projetos .avatar-nome {
    font-size: 13px;
}

#projetos .avatar-projetos .avatar-icon i {
    font-size: 48px;
    background: #d9d9d9;
    border-radius: 50%;

    padding-top: 35px;
    padding-bottom: 35px;
}
    #portfolio #portfolio-btn li {
        font-size: 11px !important;
    }
    #portfolio .portfolio-item .portfolio-content h3 {
        text-align: center;
    }
    #portfolio .portfolio-item .portfolio-content .linguagem {
        text-align: center;
    }
    /*  */
    .text-title {
        font-size: 20px;
    }
    .text-text {
        font-size: 16px;
    }
    .title-section {
        /* margin-top: 15px; */
        font-size: 20px !important;
    }
    .text-section {
        font-size: 15px !important;
    }
    /* Cards */
    .list-cards {
        font-size: 12px;
    }
    .list-cards .card-header {
        font-size: 14px;
    }
    .btn-config .dropdown {
        z-index: 997;
    }
}


/* Width 480px - 576px */

@media (min-width: 768px) and (max-width: 992px) {
    #home {
        height: 80vh;
    }
    #home .text-title {
        font-size: 22px;
    }
    #home .text-text {
        font-size: 16px;
    }
    #home .btn-primary {
        font-size: 16.5px;
        padding: 10px 25px;
    }
    .logo {
        width: 140px;
        height: 65px;
    }
    #banner .owl-carousel {
        margin-top: 10px;
    }
    /* #banner .owl-carousel .owl-item img {
        height: 35px !important;
        width: 50px !important;
    } */
    #empresa .nav-pills button {
        font-size: 14px;
    }
    #empresa .tab-pane span,
    #empresa .tab-pane ul {
        font-size: 17px;
    }
    #empresa .avatar-preview {
        margin-top: 35px;
    }
    .bg-image-desconto {
        height: 220px;
    }
    #projetos .text-section {
        margin-bottom: 50px !important;
    }
    #projetos .box {
        margin: 0 -2.5rem;
        width: 13rem !important;
        height: 18rem !important;
    }
    #projetos .box:hover {
        width: 14rem !important;
        height: 18.75rem !important;
    }
    #portfolio #portfolio-btn li {
        font-size: 13px !important;
    }
    #portfolio .portfolio-item .portfolio-content h3 {
        text-align: center;
    }
    #portfolio .portfolio-item .portfolio-content .linguagem {
        text-align: center;
    }
    .title-section {
        font-size: 22px;
    }
    .text-section {
        font-size: 15px;
    }
}


/* Width 576px - 768px */

@media (min-width: 992px) and (max-width: 1200px) {
    #home {
        height: 87vh;
    }
    #home .text-title {
        font-size: 23px;
    }
    #home .text-text {
        font-size: 16px;
    }
    #home .btn-primary {
        font-size: 17px;
        padding: 12px 30px;
    }
    .logo {
        width: 140px;
        height: 65px;
    }
    #banner .owl-carousel {
        margin-top: 25px;
    }
    /* #banner .owl-carousel .owl-item img {
        height: 35px;
        width: 130px !important;
    } */
    #empresa .nav-pills button {
        font-size: 14.5px;
    }
    #empresa .tab-pane span,
    #empresa .tab-pane ul {
        font-size: 16px;
    }
    #empresa .avatar-preview {
        margin-top: 20px;
    }
    #empresa .avatar-preview .avatar-nome {
        font-size: 15px;
    }
    #empresa .avatar-preview .avatar-func {
        font-size: 13px;
    }
    .bg-image-desconto {
        height: 250px;
    }
    #projetos .text-section {
        margin-bottom: 50px !important;
    }
    #projetos .box {
        margin: 0 -2.5rem;
        width: 15rem !important;
        height: 20rem !important;
    }
    #projetos .box:hover {
        width: 16rem !important;
        height: 21rem !important;
    }
    #portfolio #portfolio-btn li {
        font-size: 13.5px !important;
    }
    #portfolio .portfolio-item .portfolio-content h3 {
        text-align: center;
    }
    #portfolio .portfolio-item .portfolio-content .linguagem {
        text-align: center;
    }
    .title-section {
        font-size: 24px;
    }
    .text-section {
        font-size: 16px;
    }
}


/* Width 768px - 992px */

@media (min-width: 1200px) and (max-width: 1400px) {
    #home {
        height: 85vh;
    }
    #home .text-title {
        font-size: 26px;
    }
    #home .text-text {
        font-size: 16px;
    }
    #home .btn-primary {
        font-size: 17px;
        padding: 13px 30px;
    }
    .logo {
        width: 140px;
        height: 65px;
    }
    #banner .owl-carousel {
        margin-top: 25px;
    }
    #banner .owl-carousel .owl-item img {
        height: 40px;
        width: 100px !important;
    }
    #empresa .nav-pills button {
        font-size: 15px;
    }
    #empresa .avatar-preview {
        margin-top: 25px;
    }
    #empresa .avatar-preview .avatar-nome {
        font-size: 17px;
    }
    #empresa .avatar-preview .avatar-func {
        font-size: 15px;
    }
    #projetos .text-section {
        margin-bottom: 50px !important;
    }
    #projetos .box:hover {
        width: 18rem;
        height: 22rem;
    }
    #projetos .box {
        margin: 0 -2rem;
        width: 16.5rem;
        height: 21rem;
    }
    #portfolio #portfolio-btn li {
        font-size: 14px !important;
        margin-bottom: 25px;
    }
    #portfolio .portfolio-item .portfolio-content h3 {
        text-align: center;
    }
    #portfolio .portfolio-item .portfolio-content .linguagem {
        text-align: center;
    }
    .title-section {
        font-size: 26px;
    }
    .text-section {
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    #home {
        height: 75vh;
    }
    #banner .owl-carousel {
        margin-top: 10px;
    }
    #banner .owl-carousel .owl-item img {
        height: 50px !important;
        width: 120px !important;
    }
}