@media (min-width: 576px) and (max-width: 768px) {
    .section-banner-one .row {
        height: 10vh;
    }
    /**
* FIRST COL
*/
    .section-banner-one .row .first-col {
        height: 15vh;
    }
    .section-banner-one .first-col .row .banner-texts ul li {
        font-size: 10px;
    }
    .section-banner-one .first-col .row .banner-texts ul .banner-title {
        font-size: 13px;
        line-height: 1.75;
    }
    .section-banner-one .first-col .row .banner-texts ul .banner-mini-text {
        font-size: 9px;
        line-height: 1.1;
    }
    .section-banner-one .first-col .row .banner-texts ul button {
        margin-left: -5px;
        padding: 2px 5px;
        font-size: 10px;
    }
    .section-banner-one .first-col .row .banner-texts ul .banner-light-text {
        left: 1%;
        top: 107%;
        width: 150%;
        font-size: 6.5px;
        line-height: 1;
    }
    /**
* SECOND COL
*/
    .section-banner-one .row .second-col {
        height: 15vh;
    }
    .section-banner-one .second-col .row .circle-banner {
        top: -10%;
        height: 175%;
    }
    .section-banner-one .second-col .row .circle-texts ul li {
        padding-left: 10%;
        font-size: 11px;
        line-height: 1;
    }
    .section-banner-one .second-col .row .circle-texts ul li h6 {
        font-size: 11px;
        line-height: 1;
    }
    .section-banner-one .second-col .row .circle-texts ul li h6 span {
        font-size: 11px;
        padding: 5px 10px;
    }
    .section-banner-one .second-col .row .circle-texts ul li button {
        padding: 2px 5px;
        font-size: 10px;
    }
    /**
* THIRD  COL
*/
    .section-banner-one .row .third-col {
        height: 15vh;
        /* background-color: blue; */
    }
    .section-banner-one .third-col .row .circle-one {
        padding: 50% 67.5%;
        border-radius: 50%;
        right: -100%;
        top: -15%;
    }
    .section-banner-one .third-col .row .circle-two {
        padding: 50%;
        border-radius: 50%;
        top: -120%;
        right: -30%;
    }
    .section-banner-one .third-col .row .text-end-banner {
        position: absolute;
        top: 12.5%;
        right: 12.5%;
        width: 20%;
    }
    .section-banner-one .third-col .row .text-end-banner ul {
        list-style: none;
    }
    .section-banner-one .third-col .row .text-end-banner ul li {
        font-size: 10px;
        font-weight: 550;
        line-height: 1;
    }
    .section-banner-one .third-col .row .text-end-banner ul li b {
        font-size: 10px !important;
        line-height: 1.25;
    }
    .section-banner-one .third-col .row .text-end-banner ul li .bi-check2-circle {
        margin-right: 10px;
    }
    .section-banner-one .third-col .row .text-end-banner ul .icon-banner {
        margin-left: -15px;
    }
    .section-banner-one .third-col .row .text-end-banner ul li span {
        color: #fff;
        font-size: 9px;
        font-weight: 600;
    }
}

@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 992px) and (max-width: 1200px) {}

@media (min-width: 1200px) and (max-width: 1400px) {}

@media (min-width: 1400px) {}