/* xs - Max Width 576px */

@media only screen and (max-width: 576px) {
    /* Section */
    .section-one {
        height: 70vh;
    }
    .text-title {
        font-size: 20px;
    }
    .text-text {
        font-size: 16px;
    }
    .title-section {
        margin-top: 15px;
        font-size: 28px;
    }
    .text-section {
        font-size: 16px;
    }
    /* Button */
    .btn-primary {
        font-size: 16px;
    }
    /* Owl Carousel - Banner second section */
    .owl-carousel {
        margin-top: 10px;
    }
    .owl-carousel .owl-item img {
        height: 50px;
        width: 100px !important;
    }
}


/* sm - Max Width 576px */

@media only screen and (max-width: 768px) {
    /* Section */
    .section-one {
        height: 80vh;
    }
    .text-title {
        font-size: 21px;
    }
    .text-text {
        font-size: 16px;
    }
    .title-section {
        margin-top: 18px;
        font-size: 26px;
    }
    .section-one .title-section {
        margin-top: 36px;
    }
    .text-section {
        font-size: 18px;
    }
    /* Button */
    .btn-primary {
        font-size: 16px;
        padding: 12px 25px;
    }
    /* Owl Carousel - Banner second section */
    .owl-carousel {
        margin-top: 25px;
    }
    .owl-carousel .owl-item img {
        height: 75px;
        width: 150px !important;
    }
}


/* md - Min Width 768px */

@media only screen and (min-width: 768px) {
    /* Section */
    .section-one {
        height: 95vh;
    }
    .text-title {
        font-size: 24px;
    }
    .text-text {
        font-size: 17px;
    }
    .title-section {
        margin-top: 38px;
        font-size: 24px;
    }
    .section-one .title-section {
        margin-top: 48px;
    }
    .text-section {
        font-size: 18px;
    }
    /* Button */
    .btn-primary {
        font-size: 16px;
        padding: 12px 25px;
    }
    /* Owl Carousel - Banner second section */
    .owl-carousel {
        margin-top: 25px;
    }
    .owl-carousel .owl-item img {
        height: 75px;
        width: 150px !important;
    }
}


/* md - Max Width 992px */

@media only screen and (min-width: 992px) {
    /* Section */
    .section-one {
        height: 110vh;
    }
    .text-title {
        font-size: 30px;
    }
    .text-text {
        font-size: 17px;
    }
    .title-section {
        margin-top: 38px;
        font-size: 26px;
    }
    .text-section {
        font-size: 18px;
    }
    /* Button */
    .btn-primary {
        font-size: 16px;
        padding: 12px 25px;
    }
    /* Owl Carousel - Banner second section */
    .owl-carousel {
        margin-top: 30px;
    }
    .owl-carousel .owl-item img {
        height: 75px;
        width: 200px !important;
    }
}


/* lg - Max Width 1200px */


/* xl - Max Width 1400px */