/* Max Width 360px */

@media only screen and (max-width: 360px) {
    /* Sections */
    #home {
        height: 65vh;
    }
    #home .text-title {
        font-size: 18px;
    }
    #home .text-text {
        font-size: 14px;
    }
    #servicos {
        height: 120vh;
    }
    #empresa {
        height: 125vh;
    }
    #empresa .nav-pills button {
        font-size: 12px !important;
    }
    #empresa .tab-pane span,
    #empresa .tab-pane ul {
        font-size: 14px;
    }
    #empresa .avatar-preview {
        margin-top: 20px;
    }
    #empresa .avatar-preview .avatar-nome {
        font-size: 12px;
    }
    #empresa .avatar-preview .avatar-func {
        font-size: 12px;
    }
    #projetos {
        padding-bottom: 775px;
    }
    #projetos .box {
        width: 10.25rem !important;
        height: 12.5rem !important;
    }
    #portfolio {
        height: 100vh;
    }
    #portfolio .text-section {
        margin-bottom: 35px;
    }
    #portfolio #portfolio-btn li {
        font-size: 10px !important;
    }
    #portfolio .portfolio-wrap img {
        height: 100px;
        width: 100px;
    }
    .title-section {
        font-size: 20px !important;
    }
    .text-section {
        font-size: 16px !important;
    }
}


/* Width 360px - 480px */

@media (min-width: 360px) and (max-width: 480px) {
    /* Sections */
    #home {
        height: 60vh;
    }
    #home .btn-primary {
        font-size: 18px;
    }
    #servicos {
        height: 120vh;
    }
    #empresa {
        height: 135vh;
    }
    #empresa .nav-pills button {
        font-size: 13px !important;
    }
    #empresa .avatar-preview {
        margin-top: 20px;
    }
    #projetos {
        padding-bottom: 725px;
    }
    #projetos .box {
        width: 10.5rem !important;
        height: 15rem !important;
    }
    #portfolio {
        height: 95vh;
    }
    #portfolio .text-section {
        margin-bottom: 50px;
    }
    #portfolio #portfolio-btn li {
        font-size: 11px !important;
    }
    #portfolio .portfolio-wrap img {
        height: 100px;
        width: 100px;
    }
    /*  */
    .text-title {
        font-size: 20px;
    }
    .text-text {
        font-size: 16px;
    }
    .title-section {
        /* margin-top: 15px; */
        font-size: 20px !important;
    }
    .text-section {
        font-size: 15px !important;
    }
    /* Cards */
    .list-cards {
        font-size: 12px;
    }
    .list-cards .card-header {
        font-size: 14px;
    }
    /* Nav tabs */
    .nav-pills .nav-item {
        font-size: 13px !important;
    }
    /* Button */
    .btn-primary {
        font-size: 16px;
    }
    /* Owl Carousel - Banner second section */
    #banner .owl-carousel {
        margin-top: 10px;
    }
    #banner .owl-carousel .owl-item img {
        height: 30px;
        width: 80px !important;
    }
    .logo {
        width: 120px;
        height: 55px;
    }
    .btn-config .dropdown {
        z-index: 997;
    }
}


/* Width 480px - 576px */

@media (min-width: 480px) and (max-width: 576px) {
    #home {
        height: 60vh;
    }
    #home .text-title {
        font-size: 24px;
    }
    #home .text-text {
        font-size: 18px;
    }
    #home .btn-primary {
        font-size: 20px;
        padding: 15px 25px;
    }
    #servicos {
        height: 110vh;
    }
    #empresa {
        height: 135vh;
    }
    #empresa .nav-pills button {
        font-size: 16px;
    }
    #empresa .tab-pane span,
    #empresa .tab-pane ul {
        font-size: 17px;
    }
    #empresa .avatar-preview {
        margin-top: 35px;
    }
    #projetos {
        padding-bottom: 800px;
    }
    #projetos .box {
        width: 11rem !important;
        height: 15rem !important;
    }
    #portfolio {
        height: 95vh;
    }
    #portfolio #portfolio-btn li {
        font-size: 15px !important;
    }
    #portfolio .portfolio-wrap img {
        height: 100px;
        width: 100px;
    }
    .title-section {
        /* margin-top: 18px; */
        font-size: 28px;
    }
    .text-section {
        font-size: 19.5px;
    }
    /* Button */
    .btn-primary {
        font-size: 14px;
        padding: 10px 25px;
    }
    /* Owl Carousel - Banner second section */
    #banner .owl-carousel {
        margin-top: 25px;
    }
    #banner .owl-carousel .owl-item img {
        height: 30px;
        width: 80px !important;
    }
    .logo {
        width: 120px;
        height: 55px;
    }
}


/* Min Width 768px */

@media only screen and (min-width: 768px) {
    /* Section */
    /* .section-one {
        height: 80vh;
    } */
    .text-title {
        font-size: 24px;
    }
    .text-text {
        font-size: 17px;
    }
    .title-section {
        /* margin-top: 38px; */
        font-size: 24px;
    }
    .section-one .title-section {
        /* margin-top: 48px; */
    }
    .text-section {
        font-size: 18px;
    }
    /* Button */
    .btn-primary {
        font-size: 16px;
        padding: 12px 25px;
    }
    /* Owl Carousel - Banner second section */
    #banner .owl-carousel {
        margin-top: 25px;
    }
    #banner .owl-carousel .owl-item img {
        height: 40px;
        width: 100px !important;
    }
}


/* Max Width 992px */

@media only screen and (max-width: 992px) {
    .container-nav .navigation {
        display: block;
    }
    #toggle-men {
        display: block;
    }
    #projetos {
        height: 90vh;
    }
    #projetos .button {
        margin: 0;
    }
    #projetos .container-proj {
        position: relative;
        top: 75px;
    }
    #projetos .box {
        width: 13rem;
        height: 20rem;
    }
}


/* Min Width 992px */

@media only screen and (min-width: 992px) {
    /* Section */
    /* .section-one {
        height: 80vh;
    } */
    .text-title {
        font-size: 30px;
    }
    .text-text {
        font-size: 17px;
    }
    .title-section {
        /* margin-top: 38px; */
        font-size: 26px;
    }
    .text-section {
        font-size: 18px;
    }
    /* Button */
    .btn-primary {
        font-size: 16px;
        padding: 12px 25px;
    }
    /* Owl Carousel - Banner second section */
    #banner .owl-carousel {
        margin-top: 30px;
    }
    #banner .owl-carousel .owl-item img {
        height: 50px;
        width: 120px !important;
    }
}


/* Min Width 1200px */

@media only screen and (min-width: 1200px) {
    /* Section */
    /* .section-one {
        height: 85vh;
    } */
}


/* Min Width 1200px */

@media only screen and (min-height: 1400px) {
    /* Section */
    /* .section-one {
        height: 50vh;
    } */
}