#splash div {
    height: 50vh;
    margin: 250px auto;
}

#splash .drop {
    position: relative;
    z-index: 10000;
    width: 35px;
    height: 35px;
    top: -80px;
    margin: 0 auto;
    background: #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(.1, 0, .91, .19);
    -webkit-animation-timing-function: cubic-bezier(.1, 0, .91, .19);
    animation-timing-function: cubic-bezier(.1, 0, .91, .19);
    -moz-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}

#splash .drop:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid rgba(255, 255, 255, 1);
    top: -17px;
    left: 3px;
}

#splash .water {
    position: relative;
    opacity: 0;
    top: 250px;
    width: 1px;
    height: 2px;
    border: #fff 7px solid;
    -moz-border-radius: 300px/ 150px;
    -webkit-border-radius: 300px/ 150px;
    border-radius: 300px/ 150px;
    -moz-animation-name: ripple;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -moz-animation-delay: 5s;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -moz-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}

@keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        width: 600px;
        width: 300px;
        border-width: 1px;
        top: -500px;
        opacity: 0;
    }
}

@keyframes drip {
    to {
        top: 500px;
    }
}
#splash #circle-animado {
    width: 300px;
    height: 300px;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 50%;
    -moz-animation: imgSplash 1.5s infinite;
    -webkit-animation: imgSplash 1.5s infinite;
    animation: imgSplash 5s infinite;
}

#splash #circle {
    position: absolute;
    inset: 0;
    margin: auto;
    -moz-animation: circle 10s linear infinite;
    -webkit-animation: circle 10s linear infinite;
    animation: circle 10s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg)translate(-125px)rotate(0deg);
    }
    100% {
        transform: rotate(360deg)translate(-125px)rotate(-360deg);
    }
}

#splash img {
    position: absolute;
    z-index: 10000;
    inset: 0;
    margin: auto;
    overflow: hidden;
    -moz-animation-timing-function: cubic-bezier(1, 0, .91, .19);
    -webkit-animation-timing-function: cubic-bezier(1, 0, .91, .19);
    animation-timing-function: cubic-bezier(1, 0, .91, .19);
    -moz-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -moz-animation: imgSplash 1.5s infinite;
    -webkit-animation: imgSplash 1.5s infinite;
    animation: imgSplash 5s infinite;
}

@keyframes imgSplash {
    0% {
        transform: scale(.9);
    }
    70% {
        transform: scale(.75);
    }
    100% {
        transform: scale(.9);
    }
}

#section-splash {
    position: relative;
    height: 100vh;;
}

#section-splash.fade {
    height: 0;
    overflow: auto;
}

#main, #btnWhatsapp {
    display: none;
}

#main.fade {
    opacity: 1;
    display: block;
}

#home.fade {
    opacity: 1;
}

#splash.fade {
    height: 0px;
}

#splash #img-splash {
    opacity: 0;
}

#splash #img-splash.fade {
    opacity: 1;
    transition: 4s;
}


/* Responsividade Splash Screen */

@media only screen and (max-width: 576px) {
    #splash img {
        width: 200px;
        height: 100px;
    }
}