:root {
    --main-bg-color: linear-gradient(201.73deg, #000D3C -9.1%, #027769 107.32%);
    --main-bg-color6: linear-gradient(193.83deg, #000927 -11.98%, #24C2F4 131.23%);
    --main-bg-icon-whats: linear-gradient( 227.07deg, #1abf4e 0.43%, #28b183 99.56%);
    --main-bg-scrollbar: linear-gradient( 227.07deg, #b7b6b76e 0.43%, #b3b3b54a 99.56%);
    --main-text-color: #14D5FF;
    --color-icone-lua: rgb(209, 131, 5);
}

* {
    font-family: "Rubik" !important;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}


/* Typed cursor */

.typed-cursor {
    font-size: 40px;
    color: var(--main-text-color);
}


/* Back to top */

#backToTop {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 35px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    background: var(--main-bg-color);
    color: #fff;
}


/* Button WhatsApp */

#btnWhatsapp {
    position: fixed;
    bottom: 20px;
    right: 35px;
    z-index: 99;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    background: var(--main-bg-icon-whats);
    color: #fff;
}


/* Section One */

.section-one {
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--main-bg-color);
    color: #fff;
    overflow: hidden;
}

svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

svg path {
    animation: pathAnim 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim {
    0% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 206.13333333333333,232 412.26666666666665,264 549,262 C 685.7333333333333,260 753.0666666666666,224.00000000000003 890,208 C 1026.9333333333334,191.99999999999997 1233.4666666666667,196 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    25% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 189.86666666666667,200 379.73333333333335,200 535,200 C 690.2666666666667,200 810.9333333333334,200 956,200 C 1101.0666666666666,200 1270.5333333333333,200 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    50% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 163.86666666666667,216.66666666666666 327.73333333333335,233.33333333333331 469,237 C 610.2666666666667,240.66666666666669 728.9333333333334,231.33333333333334 887,223 C 1045.0666666666666,214.66666666666666 1242.5333333333333,207.33333333333331 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    75% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 137.33333333333331,192.8 274.66666666666663,185.6 456,195 C 637.3333333333334,204.4 862.6666666666667,230.39999999999998 1034,234 C 1205.3333333333333,237.60000000000002 1322.6666666666665,218.8 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    100% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 206.13333333333333,232 412.26666666666665,264 549,262 C 685.7333333333333,260 753.0666666666666,224.00000000000003 890,208 C 1026.9333333333334,191.99999999999997 1233.4666666666667,196 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}


/* ----- Header ----- */

.navbar {
    position: absolute;
}

.navbar-nav ul {
    float: right;
}

.navbar-nav li {
    display: inline-block;
}

.navbar .nav-link {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    margin-right: 20px;
    font-weight: 600;
}

.navbar-nav a:hover {
    border-bottom: 3px solid var(--main-text-color);
}

.logo {
    /* position: absolute; */
    width: 151px;
    height: 70px;
    left: 70px;
    top: 59px;
    transition: 0.5s;
}


/* Menu Mobile / Btn Config  */

.container-nav {
    position: relative;
}

.container-nav .ol,
ul {
    padding-left: 0px !important;
}


/* Menu Mobile  */

.nav-custom-mobile {
    position: absolute;
    top: 0;
    left: 0;
}

.container-nav .navigation {
    display: none;
    position: fixed;
    top: 70px;
    bottom: 100px;
    left: 25px;
    width: 215px;
    height: 0px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.container-nav .navigation.active {
    height: 420px;
}

.container-nav .navigation ul {
    position: relative;
    width: 100%;
    top: calc(30% - 90px);
}

.container-nav .navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.container-nav .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #0a5174ca;
    font-weight: 600;
}

.container-nav .navigation ul li a .icon-nav {
    position: relative;
    display: block;
    min-width: 80px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.container-nav .navigation ul li a .icon-nav .bi {
    font-size: 18px;
}

.container-nav .navigation ul li a .text-nav {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    white-space: nowrap;
}

#toggle-men {
    display: none;
    position: fixed;
    left: 10px;
    top: 55px;
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
    z-index: 1000;
    border: 5px solid #0a5174ca;
    border-radius: 50%;
    transition: 0.5s;
}

#toggle-men.active {
    /* left: 205px; */
    transition: 0.5s;
}

#toggle-men::before {
    content: "\f0c9";
    font-family: fontAwesome;
    position: absolute;
    color: #0a5174ca;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    transition: 0.5s;
}

#toggle-men.active::before {
    content: "\f078";
}


/* Btn config */

.btn-config {
    position: absolute;
    top: 0;
    left: 0;
}

.container-nav .menu-config {
    position: fixed;
    top: 70px;
    bottom: 100px;
    right: 25px;
    width: 200px;
    height: 0px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

.container-nav .menu-config.active {
    height: 55px;
}

.container-nav .menu-config ul {
    position: relative;
    width: 100%;
    top: calc(15% - 10px);
}

.container-nav .menu-config ul li {
    position: relative;
    list-style: none;
    width: 100%
}

.container-nav .menu-config ul li a {
    text-decoration: none;
}

.container-nav .menu-config ul li label {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    font-weight: 600;
}

.container-nav .menu-config ul li label .icon-menu {
    position: relative;
    display: block;
    min-width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.container-nav .menu-config ul li label .text-menu {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: var(--main-bg-dark);
    white-space: nowrap;
}

.btn-config .bi-moon-fill {
    color: var(--color-icone-lua);
}

.btn-config .modo-claro {
    display: none;
}

#icon-config {
    position: fixed;
    right: 10px;
    top: 55px;
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
    z-index: 1000;
    border: 5px solid #0a5174ca;
    border-radius: 50%;
    transition: 0.5s;
}

#icon-config.active {
    transition: 0.5s;
}

#icon-config::before {
    content: "\f085";
    font-family: fontAwesome;
    position: absolute;
    color: #0a5174ca;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-size: 18px;
    transition: 0.5s;
}

#icon-config.active::before {
    content: "\f078";
}


/* .btn-config {
    margin: 0;
    padding: 0;
}

.btn-config .dropdown {
    position: fixed;
    right: 60px;
    top: 41px;
    z-index: 1000;
}

.btn-config .dropdown-menu {
    min-width: 150px;
}

.btn-config .dropdown-menu.show {
    transform: translate(0px, 55px) !important;
    background: rgba(232, 232, 233, 0.707);
}

.dropdown-color.show {
    background: #000 !important;
    color: #fff !important;
}

.btn-config .dropdown-toggle::after {
    display: none;
}

.btn-config .dropdown-menu a:hover {
    background: none;
}

.btn-config #icon-config {
    position: fixed;
    right: 15px;
    top: calc(8% - 5px);
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
    z-index: 1000;
    border: 5px solid #0a5174ca;
    border-radius: 50%;
    transition: 0.5s;
}

.btn-config #icon-config::before {
    content: "\f085";
    font-family: fontAwesome;
    position: absolute;
    color: #0a5174ca;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    transition: 0.5s;
}

.btn-config label .bi {
    font-size: 20px;
}

.btn-config .bi-sun,
.btn-config .modo-claro {
    display: none;
}

.btn-config .bi-moon {
    color: #1a1a1a;
}

.btn-config .modo-escuro {
    font-weight: 600;
    color: #1a1a1a;
} */


/* Sidenav */


/* 
label iconify-icon {
    font-size: 30px;
    transition: 0.5s;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
} */


/* Body */

.text-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 90px;
    margin-top: 15px;
    text-transform: uppercase;
}

.text-text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
}

.text-color {
    color: var(--main-text-color);
    z-index: 1001 !important;
}

.btn-primary {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    margin-top: 5%;
    padding: 10px 20px;
    background: var(--main-text-color);
    border-radius: 50px;
    border: none;
    z-index: 997;
}

.btn-primary:hover {
    background-color: var(--main-text-color) !important;
}


/* -----------------------------------  */

.section {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.title-section {
    margin-top: 25px !important;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 3px solid var(--main-text-color);
}

.text-section {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 550;
}

.list-cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 200px;
    border-radius: 25px;
    color: #fff;
    background: var(--main-bg-color);
    padding: 0;
}

.list-cards .card-header {
    align-items: center;
    margin-top: 15px;
    border: none;
    font-weight: bold;
}

.list-cards .card-body ul {
    padding: 0;
}

.list-cards .card-body li {
    margin-top: 10px;
}


/* --------------- BANNER LINGUAGENS --------------------  */

.wrapper {
    width: 100%;
}

.wrapper .carousel {
    max-width: 1500px;
    margin: auto;
    padding: 0 30px;
}

.carousel .slider {
    line-height: 100px;
    text-align: center;
    margin-top: 20px;
}

.carousel img {
    width: 100px;
    height: 50px;
}


/* --------------- Sobre --------------------  */

.nav-pills .nav-link {
    color: #fff;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    border-bottom: 3px solid var(--main-text-color);
}

.tab-content .tab-pane {
    text-align: justify;
    margin: auto 50px;
}

.img img {
    margin: 50px;
    width: 500px;
    height: 400px;
}


/* --------------- Portfolio --------------------  */


/* Fale conosco */

form .card {
    background: #fff !important;
}


/* --------------- Footer --------------------  */

.footer-section ul {
    list-style: none;
}

.footer-title {
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
}

.footer-link {
    color: #f2f3f58f;
    margin-top: 25px;
    font-size: 13px;
    text-decoration: none;
}


/* Custom scrollbar */

.scrollbar-c::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f50b;
    border-radius: 10px;
}

.scrollbar-c::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff53;
}

.scrollbar-c::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: var(--main-bg-scrollbar);
}


/*  */