:root {
    /* Background */
    --bg-primary: linear-gradient(201.73deg, #000D3C -9.1%, #027769 107.32%);
    /* Text */
    --text-primary: #14D5FF;
    /* Icons */
    --icon-whats: linear-gradient(227.07deg, #1abf4e 0.43%, #28b183 99.56%);
    --icon-lua: rgb(209, 131, 5);
    /* Others */
    --bg-scrollbar: linear-gradient(227.07deg, #b7b6b76e 0.43%, #b3b3b54a 99.56%);
}


/*--------------------------------------------------------------
# CONFIGURAÇÕES DA PÁGINA
--------------------------------------------------------------*/

* {
    font-family: "Roboto", sans-serif !important;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

a:hover {
    color: var(--text-primary) !important;
}

.section-one {
    background: var(--bg-primary);
    color: #fff;
}

.section {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-bottom: 50px;
}

.title-section {
    font-size: 32px;
    font-weight: bold;
    border-bottom: 3px solid var(--text-primary);
}

.text-section {
    font-size: 18px;
    font-weight: 550;
}


/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/


/**
* Section HOME
*/

#home {
    width: 100%;
    height: 80vh;
}


/**
* Desktop Menu
*/

.navbar {
    position: absolute;
}

.navbar-nav ul {
    float: right;
}

.navbar-nav li {
    display: inline-block;
}

.navbar .nav-link {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    margin-right: 20px;
    font-weight: 600;
}

.navbar-nav a:hover {
    border-bottom: 3px solid var(--text-primary);
}

.logo {
    /* position: absolute; */
    width: 151px;
    height: 70px;
    left: 70px;
    top: 59px;
    transition: 0.5s;
}


/**
* Mobile Menu
*/

.container-nav {
    position: relative;
}

.container-nav .ol,
ul {
    padding-left: 0px !important;
}

.nav-custom-mobile {
    position: absolute;
    top: 0;
    left: 0;
}

.container-nav .navigation {
    display: none;
    position: fixed;
    top: 70px;
    bottom: 100px;
    left: 25px;
    width: 215px;
    height: 0px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.container-nav .navigation.active {
    height: 420px;
}

.container-nav .navigation ul {
    position: relative;
    width: 100%;
    top: calc(30% - 90px);
}

.container-nav .navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.container-nav .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #0a5174ca;
    font-weight: 600;
}

.container-nav .navigation ul li a .icon-nav {
    position: relative;
    display: block;
    min-width: 80px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.container-nav .navigation ul li a .icon-nav .bi {
    font-size: 18px;
}

.container-nav .navigation ul li a .text-nav {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    white-space: nowrap;
}

#toggle-men {
    display: none;
    position: fixed;
    left: 10px;
    top: 55px;
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
    z-index: 1000;
    border: 5px solid #0a5174ca;
    border-radius: 50%;
    transition: 0.5s;
}

#toggle-men.active {
    /* left: 205px; */
    transition: 0.5s;
}

#toggle-men::before {
    content: "\f0c9";
    font-family: fontAwesome;
    position: absolute;
    color: #0a5174ca;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    transition: 0.5s;
}

#toggle-men.active::before {
    content: "\f078";
}


/*--------------------------------------------------------------
# Botão de modo dark/light
--------------------------------------------------------------*/

.icon-dark-mode {
    position: fixed;
    top: 50px;
    bottom: 100px;
    right: 25px;
    width: 50px;
    /* height: 0px; */
    z-index: 1001;
}


/* .container-nav .menu-config.active {
    height: 55px;
}

.container-nav .menu-config ul {
    position: relative;
    width: 100%;
    top: calc(15% - 10px);
}

.container-nav .menu-config ul li {
    position: relative;
    list-style: none;
    width: 100%
}

.container-nav .menu-config ul li a {
    text-decoration: none;
}

.container-nav .menu-config ul li label {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    font-weight: 600;
}

.container-nav .menu-config ul li label .icon-menu {
    position: relative;
    display: block;
    min-width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.container-nav .menu-config ul li label .text-menu {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: var(--bg-dark);
    white-space: nowrap;
}

.btn-config .bi-moon-fill {
    color: var(--icon-lua);
}

.btn-config .modo-claro {
    display: none;
} */

.bi-lightbulb-fill {
    display: none;
}

.bi-lightbulb {
    display: block;
}

.bi-lightbulb-fill,
.bi-lightbulb {
    font-size: 36px;
    cursor: pointer;
}

.bi-lightbulb-fill {
    color: rgba(255, 251, 0, 0.425);
    filter: drop-shadow(0 0px 0px rgb(240, 240, 5)) drop-shadow(0 0 2px rgb(255, 255, 2)) drop-shadow(0 0 15px rgb(255, 255, 2)) drop-shadow(0 0 30px rgb(255, 255, 2));
}

.bi-lightbulb-fill:hover {
    color: rgb(78, 78, 78);
    filter: drop-shadow(0 0px 0px #cde1f8) drop-shadow(0 0 2px #cde1f8) drop-shadow(0 0 15px #cde1f8) drop-shadow(0 0 30px #cde1f8);
}

.bi-lightbulb {
    color: #cde1f893;
    filter: drop-shadow(0 0 2px #cde1f886) drop-shadow(0 0 10px #cde1f885) drop-shadow(0 0 25px #cde1f8);
}

.bi-lightbulb:hover {
    color: rgb(196, 193, 13);
    filter: drop-shadow(0 0px 0px rgb(240, 240, 5)) drop-shadow(0 0 2px rgb(255, 255, 2)) drop-shadow(0 0 15px rgb(255, 255, 2)) drop-shadow(0 0 30px rgb(255, 255, 2));
}

#icon-config {
    position: fixed;
    right: 10px;
    top: 55px;
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
    z-index: 1000;
    border: 5px solid #0a5174ca;
    border-radius: 50%;
    transition: 0.5s;
}

#icon-config.active {
    transition: 0.5s;
}

#icon-config::before {
    content: "\f085";
    font-family: fontAwesome;
    position: absolute;
    color: #0a5174ca;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-size: 18px;
    transition: 0.5s;
}

#icon-config.active::before {
    content: "\f078";
}


/*--------------------------------------------------------------
# Body Texts
--------------------------------------------------------------*/

.typed-cursor {
    font-size: 40px;
    color: var(--text-primary);
}

.text-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 90px;
    margin-top: 15px;
    text-transform: uppercase;
}

.text-text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
}

.text-color {
    color: var(--text-primary);
    z-index: 1001 !important;
}

.btn-primary {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    margin-top: 5%;
    padding: 10px 20px;
    background: var(--text-primary);
    border-radius: 50px;
    border: none;
    z-index: 997;
    animation: pulse 1.5s infinite;
    -webkit-animation: pulse 1.5s infinite;
}

.btn-primary:hover {
    background-color: var(--text-primary) !important;
}

@keyframes pulse {
    0% {
        transform: scale(.9);
    }
    70% {
        transform: scale(.85);
    }
    100% {
        transform: scale(.9);
    }
}


/*--------------------------------------------------------------
# Section ONDA ANIMADA
--------------------------------------------------------------*/

svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

svg path {
    animation: pathAnim 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim {
    0% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 206.13333333333333,232 412.26666666666665,264 549,262 C 685.7333333333333,260 753.0666666666666,224.00000000000003 890,208 C 1026.9333333333334,191.99999999999997 1233.4666666666667,196 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    25% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 189.86666666666667,200 379.73333333333335,200 535,200 C 690.2666666666667,200 810.9333333333334,200 956,200 C 1101.0666666666666,200 1270.5333333333333,200 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    50% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 163.86666666666667,216.66666666666666 327.73333333333335,233.33333333333331 469,237 C 610.2666666666667,240.66666666666669 728.9333333333334,231.33333333333334 887,223 C 1045.0666666666666,214.66666666666666 1242.5333333333333,207.33333333333331 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    75% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 137.33333333333331,192.8 274.66666666666663,185.6 456,195 C 637.3333333333334,204.4 862.6666666666667,230.39999999999998 1034,234 C 1205.3333333333333,237.60000000000002 1322.6666666666665,218.8 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    100% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 206.13333333333333,232 412.26666666666665,264 549,262 C 685.7333333333333,260 753.0666666666666,224.00000000000003 890,208 C 1026.9333333333334,191.99999999999997 1233.4666666666667,196 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}


/*--------------------------------------------------------------
# Section BANNER
--------------------------------------------------------------*/

#banner .gif-animado {
    width: 600px;
    margin-bottom: 50px;
}

#banner {
    margin: auto 20px auto;
}

.wrapper {
    width: 100%;
}

.wrapper .carousel {
    max-width: 1500px;
    margin: auto;
    padding: 0 30px;
}

.carousel .slider {
    line-height: 100px;
    text-align: center;
    margin-top: 20px;
}

#banner .owl-carousel .owl-item img {
    width: 100px !important;
    height: 35px !important;
}

.carousel img {
    width: 100px;
    height: 50px;
}

.dark-imgs {
    display: none;
}


/*--------------------------------------------------------------
# Section SERVIÇOS
--------------------------------------------------------------*/

#servicos .title-section {
    margin-top: 35px;
}

#servicos .text-section {
    margin-top: 15px;
}


/**
* Cards
*/

.list-cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 120px;
    width: 120px;
    border-radius: 25px;
    color: #fff;
    background: #fff;
    border: none;
    box-shadow: 10px 10px 20px rgba(2, 90, 119, 0.7);
    padding: 0;
}

.list-cards .card-header {
    align-items: center;
    margin-top: 15px;
    border: none;
    font-weight: bold;
}

.list-cards .card-body ul {
    padding: 0;
}

.list-cards .card-body li {
    margin-top: 10px;
}

.list-cards .icon-card i {
    font-size: 52px !important;
    color: #000;
}

.list-cards .title-card {
    font-size: 13px;
    text-align: center;
}


/**
* Counter de skills
*/

.counter-row {
    margin-top: 50px;
}

.counter-box {
    color: rgb(47, 47, 47);
    text-align: center;
}

.counter-ico {
    margin: 1rem 0;
}

.counter-ico .ico-circle {
    line-height: 1.5;
    box-shadow: 0 0 0 10px #cde1f8;
    height: 50px;
    width: 50px;
    padding-top: 5px;
    font-size: 28px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.counter-num .counter {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
}

.counter-num span {
    font-weight: bold;
    font-size: 13px;
}


/*--------------------------------------------------------------
# Section BANNER DE PROMOÇÕES
--------------------------------------------------------------*/

.section-banner {
    width: 100%;
    padding-bottom: 0px;
}

.section-banner .first-col,
.section-banner .second-col {
    margin-top: 30px;
}

.section-banner .second-col {
    text-align: center;
}


/**
* FIRST COL
*/

.section-banner .first-col span {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-banner .first-col h3 {
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
}

.section-banner .first-col p {
    font-size: 15px;
    font-weight: 600;
}

.section-banner .first-col .btn-primary {
    margin-top: 0;
    background: #FF7700;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}


/**
* SECOND COL
*/

.section-banner .second-col h6 {
    font-size: 29px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-banner .second-col h6 span {
    display: block;
    color: #FF7700;
}


/* Banner Landing Page */

.section-banner .second-col .decrecent-time {
    display: flex;
    justify-content: space-around;
    margin: 15px auto;
}

.section-banner .second-col .decrecent-time b {
    color: #FF7700;
    font-size: 46px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-banner .second-col .decrecent-time span {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}


/* Banner Indicação */

.section-banner .second-col .icon-indicacao ul {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    font-weight: 600;
    font-size: 20px;
    list-style: none;
}

.section-banner .second-col .icon-indicacao ul li {
    text-transform: uppercase;
}

.section-banner .second-col .icon-indicacao ul i {
    color: #FF7700;
    margin: auto 7.5px;
}

.section-banner .second-col .banner-lg {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-banner .second-col .banner-indicacao {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}


/*--------------------------------------------------------------
# Section PROJETOS
--------------------------------------------------------------*/

#projetos {
    margin-top: 70px;
    padding-bottom: 0px;
}

#projetos .avatar-projetos {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

#projetos .avatar-projetos .avatar-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 35px;
}

#projetos .avatar-projetos .avatar-nome {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 1000;
    color: var(--bg-dark);
}

#projetos .avatar-projetos .avatar-icon i {
    display: flex;
    justify-content: center;
    color: var(--bg-dark);
    font-size: 72px;
    background: #d9d9d9;
    border-radius: 50%;
    padding: 25px 10px;
}


/* Carousel de imagens */

.container-proj {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin: -15%;
    cursor: pointer;
    z-index: 1;
}

.button--inactive {
    opacity: 1;
}

.button i {
    width: 100%;
    width: 40px;
    padding: 5px;
    height: 40px;
    color: #0a5174;
    background: #f5f5f5;
    cursor: pointer;
    border: 2px solid #0a5174ca;
    border-radius: 50%;
    transition: 0.5s;
    line-height: 30px;
    /* box-shadow: 15px 15px 50px var(--text-primary); */
}

.button i:hover {
    padding: 7px;
    border: 4px solid #0a5174;
}

.cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    margin: 0 -1.5rem;
    width: 15rem;
    height: 22.5rem;
    box-shadow: 0px 0px 2rem 0px #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 1s all;
    border-radius: 15px;
    opacity: 0.8;
}

.box:hover {
    width: 15rem;
    /* height: 25rem; */
    opacity: 1;
}

.box img {
    width: 100%;
    height: 100%;
}

.box:nth-child(2n) {
    transform: scale(0.85);
    z-index: -1;
}

.box:nth-child(2) {
    left: 5%;
}

.box:nth-child(4) {
    left: -5%;
}

.box:nth-child(4n + 1) {
    transform: scale(0.75);
    z-index: -2;
}

.box:nth-child(1) {
    left: 15%;
}

.box:nth-child(5) {
    left: -15%;
}

.card__text-content {
    text-align: center;
    width: 75%;
}

.card__title {
    padding: 1rem;
}

.box--hide {
    display: none;
}

.move-out-from-left {
    animation: moveOutLeft 0.5s ease-in-out;
}

.move-out-from-right {
    animation: moveOutRight 0.5s ease-in-out;
}

.move-to-position5-from-left {
    animation: moveToP5Left 0.5s ease-in-out;
}

.move-to-position4-from-left {
    animation: moveToP4Left 0.5s ease-in-out;
}

.move-to-position3-from-left {
    animation: moveToP3Left 0.5s ease-in-out;
}

.move-to-position2-from-left {
    animation: moveToP2Left 0.5s ease-in-out;
}

.move-to-position1-from-left {
    animation: moveToP1Left 0.5s ease-in-out;
}

.move-to-position5-from-right {
    animation: moveToP5Right 0.5s ease-in-out;
}

.move-to-position4-from-right {
    animation: moveToP4Right 0.5s ease-in-out;
}

.move-to-position3-from-right {
    animation: moveToP3Right 0.5s ease-in-out;
}

.move-to-position2-from-right {
    animation: moveToP2Right 0.5s ease-in-out;
}

.move-to-position1-from-right {
    animation: moveToP1Right 0.5s ease-in-out;
}

@keyframes moveOutLeft {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(-150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveOutRight {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveToP5Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP4Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP2Left {
    from {
        transform: scale(1) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP1Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP1Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP2Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP4Right {
    from {
        transform: scale(1) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP5Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}


/*--------------------------------------------------------------
# Section PORTFOLIO
--------------------------------------------------------------*/

#portfolio .portfolio-slider .show {
    display: block;
}

#portfolio .title-section {
    margin-top: 90px;
    margin-bottom: 50px;
}

#portfolio .portfolio-item {
    margin-bottom: 30px;
}

#portfolio #portfolio-btn {
    padding: 0;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
    margin-bottom: 35px;
}

#portfolio #portfolio-btn li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
    background: rgba(133, 211, 255, 0.25);
    margin: 0 3px 10px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

#portfolio #portfolio-btn li:hover,
#portfolio #portfolio-btn li.filter-active {
    background: rgb(133, 210, 255);
}

#portfolio #portfolio-btn li:last-child {
    margin-right: 0;
}

.dark #portfolio .row-port {
    background: linear-gradient(201.73deg, #000d3c0d -9.10%, #02776926 107.32%);
}

#portfolio .row-port {
    padding-top: 50px;
    padding-left: 40px;
    background: #f1f2f57c;
    border-radius: 10px;
}

#portfolio .portfolio-item {
    width: 100%;
}

#portfolio .portfolio-wrap img {
    height: 100%;
    width: 100%;
}

#portfolio .portfolio-wrap {
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.6); */
}

#portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(14, 14, 14, 0.49);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.2s;
    z-index: 2;
    opacity: 0;
}

#portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

#portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

#portfolio .portfolio-wrap .portfolio-info h4 {
    margin-top: 10px;
    font-size: 14px;
    color: var(--text-primary);
    font-weight: 600;
}

#portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

#portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}

#portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

#portfolio .portfolio-wrap .portfolio-links a:hover {
    color: var(--text-primary);
}

#portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

#portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

#portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
}

#portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
}

#portfolio .portfolio-item .portfolio-content h3 {
    font-weight: 600;
    color: var(--text-primary);
}

#portfolio .portfolio-item .portfolio-content .linguagem span {
    font-weight: 600;
    font-size: 12px;
    font-family: "Arial";
    color: #000;
    background: rgba(133, 211, 255, 0.25);
    padding: 5px 12px;
    margin-right: 5px;
    border-radius: 7px;
}

#portfolio .portfolio-item .portfolio-content ul {
    list-style: none;
}

#portfolio .portfolio-item .portfolio-content ul li i {
    color: var(--text-primary);
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}


/*--------------------------------------------------------------
# Section SOBRE NÓS
--------------------------------------------------------------*/

#empresa .title-section {
    margin-top: 60px;
}

#empresa .gif {
    top: calc(20% - 15px);
}

#empresa .gif img {
    width: 100%;
    height: 100%;
}


/**
* Nav tabs
*/

.nav-pills .nav-link {
    color: #fff;
    font-size: 14px;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    border-bottom: 2px solid var(--text-primary);
}

.tab-content .tab-pane {
    text-align: justify;
    margin: auto 50px;
}


/**
* Avatars
*/

.avatar {
    display: flex;
    margin: 15px auto;
    padding: auto;
}

.avatar .avatar-preview {
    text-align: center;
}

.avatar .avatar-preview img {
    box-shadow: 5px 5px 15px #fff;
    background: transparent;
    border-radius: 50%;
}

.avatar .avatar-nome {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
}

.avatar .avatar-func {
    font-size: 12px;
}

.avatar .avatar-icon {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.avatar .avatar-icon a {
    color: var(--text-primary);
}


/*--------------------------------------------------------------
# Section FOOTER
--------------------------------------------------------------*/


/**
* Primeiro footer
*/

#footer {
    height: 100% !important;
}

#footer ul {
    text-align: center;
    list-style: none;
}

#footer ul .li-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

#footer .footer-link {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    opacity: 0.8;
}

#footer ul .li-icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 45px;
}

#footer ul .li-icons .footer-icon {
    margin-left: 10px;
    margin-right: 10px;
}

#footer ul .li-icons .footer-icon .bi {
    padding: 8px;
    font-size: 14px;
    color: #616161;
    border: 1px solid #616161;
    border-radius: 10px;
}

#footer ul .li-icons .footer-icon .bi:hover {
    color: #fff;
    background: #4154FF;
    border: 1px solid #4154ff9c;
}

#footer ul .li-logo {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

#footer ul .li-logo .logo-footer-light {
    width: 150px;
    height: 70px;
}


/**
* Segundo footer
*/

.second-footer .footer-divider {
    border-top: 1px solid #bcbcbc;
}

.second-footer .footer-text {
    margin: 25px auto;
    text-align: center;
    background: var(--bg-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.logo-footer-dark {
    display: none;
}


/*--------------------------------------------------------------
# OTHERS
--------------------------------------------------------------*/


/**
* Custom scrollbar
*/

.scrollbar-c::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f50b;
    border-radius: 10px;
}

.scrollbar-c::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff53;
}

.scrollbar-c::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: var(--bg-scrollbar);
}


/**
* Back to top
*/

#backToTop {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 35px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    background: var(--bg-primary);
    color: #fff;
}


/**
* Button WhatsApp
*/

#btnWhatsapp {
    position: fixed;
    bottom: 20px;
    right: 35px;
    z-index: 99;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    background: var(--icon-whats);
    color: #fff;
}


/**
* Modals
*/

.modal-header {
    background: rgba(0, 0, 0, 0.822);
    border: none;
}

.modal-body {
    background: rgba(0, 0, 0, 0.822);
}

.modal-footer {
    background: rgba(0, 0, 0, 0.822);
    border: none;
}

.modal-header .btn-close {
    background-color: #fff !important;
}